services:
  node1:
    image: elasticsearch:7.6.2
    tty: true
    stdin_open: true
    networks:
      cluster:
        ipv4_address: 192.168.10.2
    volumes:
      - /usr/share/elasticsearch/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
  node2:
    image: elasticsearch:7.6.2
    tty: true
    stdin_open: true
    networks:
      cluster:
        ipv4_address: 192.168.10.3
    volumes:
      - /usr/share/elasticsearch/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
  node3:
    image: elasticsearch:7.6.2
    tty: true
    stdin_open: true
    networks:
      cluster:
        ipv4_address: 192.168.10.4
    volumes:
      - /usr/share/elasticsearch/data
      - ./elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
  kibana:
    image: kibana:7.6.2
    tty: true
    stdin_open: true
    depends_on:
      - node1
      - node2
      - node3
    networks:
      cluster:
        ipv4_address: 192.168.10.5
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml

networks:
  cluster:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 192.168.10.0/24
